/* 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.message {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.message.left .message-content {
    background-color: #ffd2d2;
}

.message.right .message-content {
    background-color: #d2eaff;
}

.message.left .avatar {
    order: -1;
    margin-right: 10px;
}

.message.right .avatar {
    margin-left: 10px;
}

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.message-info {
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.message-info .username {
    font-weight: bold;
}

.message-info .time {
    color: gray;
    font-size: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

p {
    margin: 0;
} */
